<a href="https://colab.research.google.com/github/rugellioliveira/ConhecendoBibliotecaPandas/blob/main/ConhecendoBibliotecaPandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from pandas.io.formats.style_render import DataFrame
import pandas as pd
import numpy as np

#Lista com rotulos
Labels = ['1°', '2°', '3°']

#Lista com os valores
Valores = [10, 20, 30]

#Criando a base de dados com as listas
Serie = pd.Series( data = Valores, index = Labels)
Serie

1°    10
2°    20
3°    30
dtype: int64

In [ ]:
Serie['1°']

10

In [ ]:
Serie * 2

1°    20
2°    40
3°    60
dtype: int64

In [ ]:
Serie_Nova = pd.Series( data = [50, 100, 150], index = Labels)
Serie + Serie_Nova

1°     60
2°    120
3°    180
dtype: int64

In [ ]:
#Criando um dicionário
Dicionario = {
    'A' : [1, 2, 3],
    'B' : [-3, -2, -1],
    'C' : [0, 10, 20 ] }

#Criando uma lista com os labels
Label = ['1° Linha', '2° Linha', '3° Linha']

Data_Frame01 = pd.DataFrame( Dicionario, index = Label)
Data_Frame01

          A  B   C
1° Linha  1 -3   0
2° Linha  2 -2  10
3° Linha  3 -1  20

In [ ]:
Data_Frame01['A']

1° Linha    1
2° Linha    2
3° Linha    3
Name: A, dtype: int64

In [ ]:
Data_Frame01[['A','B']]

          A  B
1° Linha  1 -3
2° Linha  2 -2
3° Linha  3 -1

In [ ]:
Data_Frame01['Nova_Coluna'] = Data_Frame01['A'] * Data_Frame01['B']
Data_Frame01

          A  B   C  Nova_Coluna
1° Linha  1 -3   0           -3
2° Linha  2 -2  10           -4
3° Linha  3 -1  20           -3

In [ ]:
Data_Frame01.drop('Nova_Coluna', axis=1, inplace = True)
Data_Frame01

          A  B   C
1° Linha  1 -3   0
2° Linha  2 -2  10
3° Linha  3 -1  20

In [ ]:
Data_Frame01.loc['1° Linha']

A    1
B   -3
C    0
Name: 1° Linha, dtype: int64

In [ ]:
Data_Frame01.loc[['1° Linha', '3° Linha'], ['A', 'C']]

          A   C
1° Linha  1   0
3° Linha  3  20

In [ ]:
Data_Frame01.iloc[0:3, 1:]

          B   C
1° Linha -3   0
2° Linha -2  10
3° Linha -1  20

In [ ]:
Data_Frame01 > 0

             A      B      C
1° Linha  True  False  False
2° Linha  True  False   True
3° Linha  True  False   True

In [ ]:
Data_Frame01[Data_Frame01['A'] > 0]['C']

1° Linha     0
2° Linha    10
3° Linha    20
Name: C, dtype: int64

In [ ]:
Filtro = Data_Frame01['C'] > 0
Data_Frame02 = Data_Frame01[Filtro]
Data_Frame02['A']

2° Linha    2
3° Linha    3
Name: A, dtype: int64

In [ ]:
Data_Frame01[(Data_Frame01['A'] > 1) & (Data_Frame01['C'] > 0)]

          A  B   C
2° Linha  2 -2  10
3° Linha  3 -1  20

In [ ]:
Data_Frame01.reset_index()

      index  A  B   C
0  1° Linha  1 -3   0
1  2° Linha  2 -2  10
2  3° Linha  3 -1  20

In [ ]:
Data_Frame01

          A  B   C
1° Linha  1 -3   0
2° Linha  2 -2  10
3° Linha  3 -1  20

In [ ]:
#Criando vários dicionarios
Dicionario_01 = {'A' : [1, 2, 3],
                 'B' : [-32, -21, -15],
                 'C' : [60, 10, 20],
                 'Chave' : ['AA', 'BB', 'CC']
                 }

Dicionario_02 = {'A' : [6, 7, 8],
                 'B' : [-39, -28, -17],
                 'C' : [1000, 10, 60],
                 'Chave' : ['AA', 'BB', 'CC']
                 }

Dicionario_03 = {'A' : [11, 12, 13],
                 'B' : [-39, -22, -11],
                 'C' : [30, 10, 20],
                 'Chave' : ['AA', 'BB', 'CC']
                 }

#Criando várias listas para serem os labels
Label_01 = ['1° Linha', '2° Linha', '3° Linha']
Label_02 = ['4° Linha', '5° Linha', '6° Linha']
Label_03 = ['7° Linha', '8° Linha', '9° Linha']

#Estruturando as bases de dados
DataFrame_01 = pd.DataFrame( Dicionario_01, index = Label_01)
DataFrame_02 = pd.DataFrame( Dicionario_02, index = Label_02)
DataFrame_03 = pd.DataFrame( Dicionario_03, index = Label_03)

pd.concat([DataFrame_01, DataFrame_02, DataFrame_03])

           A   B     C Chave
1° Linha   1 -32    60    AA
2° Linha   2 -21    10    BB
3° Linha   3 -15    20    CC
4° Linha   6 -39  1000    AA
5° Linha   7 -28    10    BB
6° Linha   8 -17    60    CC
7° Linha  11 -39    30    AA
8° Linha  12 -22    10    BB
9° Linha  13 -11    20    CC

In [ ]:
pd.merge(DataFrame_01, DataFrame_02, how = 'inner', on = 'Chave')

   A_x  B_x  C_x Chave  A_y  B_y   C_y
0    1  -32   60    AA    6  -39  1000
1    2  -21   10    BB    7  -28    10
2    3  -15   20    CC    8  -17    60

In [ ]:
#Criando vários dicionários
Dicionario_01 = {'A' : [1, 2, 3],
                 'B' : [-32, -21, -15],
                 'C' : [60, 10, 20]
                 }

Dicionario_02 = {'D' : [6, 7, 8],
                 'E' : [-39, -28, -17],
                 'F' : [1000, 10, 60]
                 }

#Criando várias listas para serem os labels
Label_01 = ['1° Linha', '2° Linha', '3° Linha']

#Estruturando as bases de dados
DataFrame_01 = pd.DataFrame( Dicionario_01, index = Label_01)
DataFrame_02 = pd.DataFrame( Dicionario_02, index = Label_01)

#Aplicando a função join
DataFrame_01.join(DataFrame_02)

          A   B   C  D   E     F
1° Linha  1 -32  60  6 -39  1000
2° Linha  2 -21  10  7 -28    10
3° Linha  3 -15  20  8 -17    60

In [ ]:
Dados = pd.Series( [1, 3, 5, np.nan, 6, 8] )
Dados

0    1.0
1    3.0
2    5.0
3    NaN
4    6.0
5    8.0
dtype: float64

In [ ]:
Lista_Datas = pd.date_range('20210101', periods = 5)
Lista_Datas

DatetimeIndex(['2021-01-01', '2021-01-02', '2021-01-03', '2021-01-04',
               '2021-01-05'],
              dtype='datetime64[ns]', freq='D')

In [ ]:
DataFrame_01 = pd.DataFrame( np.random.randn(5,4),
                            index = Lista_Datas,
                             columns = list( ['A', 'B', 'C', 'D'])
                             )
DataFrame_01

                   A         B         C         D
2021-01-01 -0.981597 -1.774805 -0.493254 -0.156169
2021-01-02 -1.042730  1.482206  1.793627  0.484894
2021-01-03  0.553499  1.706852  0.985838  0.190084
2021-01-04  0.089645  1.735443 -0.291126  1.251650
2021-01-05 -1.426388 -0.840443  0.070047  0.278062

In [ ]:
Dicionario = {
    'A' : 1,
    'B' : pd.Timestamp('20210102'),
    'C' : pd.Series(1, index = list(range(4)), dtype = 'float32'),
    'D' : np.array([3]*4, dtype = 'int32'),
    'E' : pd.Categorical( ['Email', 'Telefone', 'Celular', 'País'] ),
    'F' : pd.Categorical( ['email@email.com', '(11)4455-4455', '(11)922332233', 'Brasil'])
    }

DataFrame_02 = pd.DataFrame(Dicionario)
DataFrame_02

   A          B    C  D         E                F
0  1 2021-01-02  1.0  3     Email  email@email.com
1  1 2021-01-02  1.0  3  Telefone    (11)4455-4455
2  1 2021-01-02  1.0  3   Celular    (11)922332233
3  1 2021-01-02  1.0  3      País           Brasil

In [ ]:
DataFrame_02.dtypes

A             int64
B    datetime64[ns]
C           float32
D             int32
E          category
F          category
dtype: object

In [ ]:
DataFrame_02.head()

   A          B    C  D         E                F
0  1 2021-01-02  1.0  3     Email  email@email.com
1  1 2021-01-02  1.0  3  Telefone    (11)4455-4455
2  1 2021-01-02  1.0  3   Celular    (11)922332233
3  1 2021-01-02  1.0  3      País           Brasil

In [ ]:
DataFrame_02.tail(2)

   A          B    C  D        E              F
2  1 2021-01-02  1.0  3  Celular  (11)922332233
3  1 2021-01-02  1.0  3     País         Brasil

In [ ]:
DataFrame_02.index

Int64Index([0, 1, 2, 3], dtype='int64')

In [ ]:
DataFrame_02.columns

Index(['A', 'B', 'C', 'D', 'E', 'F'], dtype='object')

In [ ]:
DataFrame_02.values

array([[1, Timestamp('2021-01-02 00:00:00'), 1.0, 3, 'Email',
        'email@email.com'],
       [1, Timestamp('2021-01-02 00:00:00'), 1.0, 3, 'Telefone',
        '(11)4455-4455'],
       [1, Timestamp('2021-01-02 00:00:00'), 1.0, 3, 'Celular',
        '(11)922332233'],
       [1, Timestamp('2021-01-02 00:00:00'), 1.0, 3, 'País', 'Brasil']],
      dtype=object)

In [ ]:
DataFrame_02.describe()

         A    C    D
count  4.0  4.0  4.0
mean   1.0  1.0  3.0
std    0.0  0.0  0.0
min    1.0  1.0  3.0
25%    1.0  1.0  3.0
50%    1.0  1.0  3.0
75%    1.0  1.0  3.0
max    1.0  1.0  3.0

In [ ]:
DataFrame_01.sort_index(axis = 1, ascending = False)

                   D         C         B         A
2021-01-01 -0.156169 -0.493254 -1.774805 -0.981597
2021-01-02  0.484894  1.793627  1.482206 -1.042730
2021-01-03  0.190084  0.985838  1.706852  0.553499
2021-01-04  1.251650 -0.291126  1.735443  0.089645
2021-01-05  0.278062  0.070047 -0.840443 -1.426388

In [ ]:
DataFrame_02.sort_values(by='E')

   A          B    C  D         E                F
2  1 2021-01-02  1.0  3   Celular    (11)922332233
0  1 2021-01-02  1.0  3     Email  email@email.com
3  1 2021-01-02  1.0  3      País           Brasil
1  1 2021-01-02  1.0  3  Telefone    (11)4455-4455

In [ ]:
DataFrame_01['A']

2021-01-01   -0.981597
2021-01-02   -1.042730
2021-01-03    0.553499
2021-01-04    0.089645
2021-01-05   -1.426388
Freq: D, Name: A, dtype: float64

In [ ]:
DataFrame_01[0:3]

                   A         B         C         D
2021-01-01 -0.981597 -1.774805 -0.493254 -0.156169
2021-01-02 -1.042730  1.482206  1.793627  0.484894
2021-01-03  0.553499  1.706852  0.985838  0.190084

In [ ]:
DataFrame_01['20210101':'20210102']

                   A         B         C         D
2021-01-01 -0.981597 -1.774805 -0.493254 -0.156169
2021-01-02 -1.042730  1.482206  1.793627  0.484894

In [ ]:
DataFrame_01.loc['20210101']

A   -0.981597
B   -1.774805
C   -0.493254
D   -0.156169
Name: 2021-01-01 00:00:00, dtype: float64

In [ ]:
DataFrame_01.iloc[3]

A    0.089645
B    1.735443
C   -0.291126
D    1.251650
Name: 2021-01-04 00:00:00, dtype: float64

In [ ]:
DataFrame_01.iloc[3:5,0:2]

                   A         B
2021-01-04  0.089645  1.735443
2021-01-05 -1.426388 -0.840443

In [ ]:
DataFrame_01[DataFrame_01.A > 0]

                   A         B         C         D
2021-01-03  0.553499  1.706852  0.985838  0.190084
2021-01-04  0.089645  1.735443 -0.291126  1.251650

In [ ]:
DataFrame_01[DataFrame_01 > 0]

                   A         B         C         D
2021-01-01       NaN       NaN       NaN       NaN
2021-01-02       NaN  1.482206  1.793627  0.484894
2021-01-03  0.553499  1.706852  0.985838  0.190084
2021-01-04  0.089645  1.735443       NaN  1.251650
2021-01-05       NaN       NaN  0.070047  0.278062

In [ ]:
DataFrame_03 = DataFrame_01.copy()
DataFrame_03

                   A         B         C         D
2021-01-01 -0.981597 -1.774805 -0.493254 -0.156169
2021-01-02 -1.042730  1.482206  1.793627  0.484894
2021-01-03  0.553499  1.706852  0.985838  0.190084
2021-01-04  0.089645  1.735443 -0.291126  1.251650
2021-01-05 -1.426388 -0.840443  0.070047  0.278062

In [ ]:
DataFrame_03['Nova_Coluna'] = ['abc', 'def', 'ghi', 'jkl', 'mno']
DataFrame_03

                   A         B         C         D Nova_Coluna
2021-01-01 -0.981597 -1.774805 -0.493254 -0.156169         abc
2021-01-02 -1.042730  1.482206  1.793627  0.484894         def
2021-01-03  0.553499  1.706852  0.985838  0.190084         ghi
2021-01-04  0.089645  1.735443 -0.291126  1.251650         jkl
2021-01-05 -1.426388 -0.840443  0.070047  0.278062         mno

In [ ]:
DataFrame_03[ DataFrame_03['Nova_Coluna'].isin(['abc', 'mno'])]

                   A         B         C         D Nova_Coluna
2021-01-01 -0.981597 -1.774805 -0.493254 -0.156169         abc
2021-01-05 -1.426388 -0.840443  0.070047  0.278062         mno

In [ ]:
DataFrame_04 = pd.Series( [1, 2, 3, 4, 5, 6],
                         index = pd.date_range('20210101', periods=6))
DataFrame_04

2021-01-01    1
2021-01-02    2
2021-01-03    3
2021-01-04    4
2021-01-05    5
2021-01-06    6
Freq: D, dtype: int64

In [ ]:
DataFrame_04.at[ dates[0], 'A'] = 0

NameError: ignored

In [ ]:
Lista = [c for c in range(1, 50000000)]

In [ ]:
%time for i in Lista: pass

CPU times: user 2.09 s, sys: 6.12 ms, total: 2.09 s
Wall time: 2.15 s

In [ ]:
%time
for c in range(1, 50000000):
  pass
%time

CPU times: user 3 µs, sys: 0 ns, total: 3 µs
Wall time: 7.63 µs
CPU times: user 3 µs, sys: 0 ns, total: 3 µs
Wall time: 6.91 µs